.top {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  height: 90px;
  background-color: white;
  border-radius: 5px;
  border-block-end-style: double;
  color: blue;
  padding-bottom: 1mm;
}

.h1 {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-inline-end: 10%;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.logo {
  display: flex;
  width: 6em;
  margin: auto;
  padding: 10px;
  align-content: center;
  float: left;
  flex-flow: column-reverse;
}

.navbar {
  display: flex;
  background-color: pink;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
  border-block-end-style: double;
}

.middle-jpg {
  display: flex;
  height: 70%;
  margin-left: 20%;
  margin-right: 40%;
  margin-top: 10%;
  padding: 10px;
  width: 70%;
  border: border;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin: 2%;
  height: fit-content;
  background-color: white;
  border-radius: 5px;
  border-block-end-style: double;
  flex: row wrap;
}

.b11 {
  width: d=fit-content;
  display: flex;
  padding: 5%;
}

.b12 {
  width: fit-content;
  height: fit-content;
  padding: 5%;
}

.b13 {
  width: fit-content;
  height: fit-content;
  padding: 5%;
}

h1 {
  text-align: center;
}

